Shell {
    region:       0l 0y 0r 0b;
    fill-color:   #222;
}

Button {
    radius:       0;
    fill-color:   #348;
    image:        "menu.png";
    image-region:  5l 5t 5r 5b;
    text-color:   #222;
    text-label:   "This is a label 22z...";
    region:       0l 0t 0r 80h;
    image-align:  left top;
    opacity:      0.1;
}

Button.hi {
    region:       0l 80t 0r 80h;
}
Button.hi2 {
    region:       0l 160t 0r 80h;
}

Group {
    fill-color:   #f00;
    region:       0l 0t 0r 0b;
    radius:       0;
    clip:         true;
    image-align:  middle middle;
}

Group:hover {
    fill-color:   #f0f;
}

Button:hover {
    fill-color:   #faa;
}

Button:active {
    fill-color:   #aaf;
}

