View {
    Button {
        region:10l 22t 10r 10b;
        fill-color:#f3f;
        text-color:#222;
        text-label:"This is a label 22...";
    }
}

/*
Button:active {
    fill-color:#f5f;
    text-color:#fff;
}
*/

Button:active {
    fill-color:#fff;
    text-color:#fff;
}
