Button {
    radius:      3;
    fill-color:  #348;
    fill-image:  "menu.png";
    text-color:  #222;
    text-label:  "This is a label 22...";
    region:      250l 250t 250r 250b;
}
/* do this in a lambda */

Button:hover {
    fill-color:#faa;
    text-label:  "This is a label 22...";
    fill-offset:30, 50ms ease;
}

Button:active {
    fill-color:#aaf;
    fill-offset:0, 50ms ease;
}

